
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Tabla de productos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Descripción</td>
                        <td>Código</td>
                        <td>Foto</td>
                        <td>Precio</td>
                        <td>Cantidad</td>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(function(producto){ %>
                        <tr>
                            <td> <%= producto.nombre %> </td>
                            <td> <%= producto.descripcion %> </td>
                            <td> <%= producto.codigo %> </td>
                            <td> <img src=<%=producto.foto %> width="50" height="50"> </td>
                            <td> <%= producto.precio %> </td>
                            <td> <%= producto.cantidad %> </td>
                            <td> <a href='/carrito/borrar?id=<%= producto.id%>&username=<%= username %>' class="btn btn-primary">Eliminar</a> </td>
                        </tr>
                    <% }) %>
                    <tr>

                    </tr>
                </tbody>
            </table>
            <td> <a href='/carrito/comprar?username=<%= username %>' class="btn btn-primary">Comprar</a> </td>
        </div>
    </div>

